@*@model MovieRentalWebApp.Models.Customer*@
@model MovieRentalWebApp.ViewModels.CustomerDetailWithRentalViewForm
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.Customer.Name - Details</h3>
<hr />
<ul>
    <li>Membership Type: @Model.Customer.Membershiptype.Name</li>
    <li>Email Address: @Model.Customer.Email</li>
    @if (Model.Customer.BirthDate.HasValue)
    {
        <li>BirthDate: @Model.Customer.BirthDate.Value.ToLongDateString()</li>
        //ToshortDateString method shows only Date from DateTime Prop
    }
    @if (Model.Customer.IsSubscribedToNewsletter == true)
    {
        <li>Subscribed To Newsletter: Yes!</li>
    }
    else
    {
        <li>Subscribed To Newsletter: No!</li>
    }
    <li>
        Movie Rented:
        @if (!Model.RentalDetails.Any())
        {
            <p>@Model.Customer.Name has not rented any movie!</p> 
        }
        else
        {
            <ol>
                @foreach (var movie in Model.RentalDetails)
                {
                    <li>@movie.Movie.Name</li>
                }
            </ol>
        }
    </li>
</ul>

