<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
    
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Navbar")
    <br />
    <br />
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Abdul Mufeez</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/libraries")
    @RenderSection("scripts", required: false)
</body>
</html>
